//
// Media Queries
//
@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) {
      @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
      @content;
  }
}

//
// Prefix flex
//
@mixin flex {
  display: -ms-flexbox;
  display: flex;
}

//
// Prefix transform
//
@mixin transform($param) {
  -webkit-transform: $param;
  -ms-transform: $param;
  transform: $param;
}