//
// Layout max and min width
//
$layout-min-width: 320px;
$layout-max-width: 1200px;

//
// Media Queries max width
//
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1025px;

//
// Fonts
//
$small: .75em;      // 12px
$medium: .875em;    // 14px
$large: 1.25em;     // 20px
$big: 1.5em;        // 24px